/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.cotainer {
  margin: 0 auto;
  margin-top: 150px;
}
.timer {
  width: 346px;
  height: 72px;
  margin-top: 108px;
  margin-left: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field {
}
.value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
